*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color:beige;
    overflow: hidden;
}
h1{
    color: rgb(85, 85, 255);
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    /* line-break:strict; */

}
 p{
    font-size: 1.5em;
}
.parent{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
    align-items: center;
    /* flex-direction: column;*/
    /* align-content: center;  */
}
form{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border:2px solid green; */
    max-width: 380px;
    width: 90%;
    box-shadow: 0 0 10px black;
    /* text-shadow:black; */
    padding: 20px;
    
}


input{
    outline: none;
    /* background-size:45px ; */
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    width: 85%;
}
button{
    outline: none;
    background-color: rgb(79, 79, 255);
    color: whitesmoke;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    width: 93%;
    border-radius: 6px;
}
button:hover{
    background-color: blue;
}
p a{
    /* text-align: center;
     */
     text-decoration: none;
     font-size: 16px;
     padding: 20px;
}
#acc{
    background-color: rgb(76, 151, 0);
    color: whitesmoke;
    outline: none;
    /* margin: 30px auto; */
    width: 70%;
}
#acc:hover{
    background-color: rgb(112, 185, 1);
}
