.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
h1{
   color: chocolate;
}
p{
    width: 500px;
}
img{
    width:300px;
    height: auto;
    border-radius: 10px;
    
}


