*{
    background-color: beige;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}
h1,h2{
    color: chartreuse;
}
/* 8 type ke selectors parhaye ha sir ne */
p{
    color: darkgoldenrod;
}
.abc{
    background-color: darkorchid;
}
li>b{ 
    /* sirf apne direct child ke sath kam krega */
    color: rgb(255, 0, 0);
}
li a{ 
    /* apne child ke child ma se bhi select krskta ha */
    color: rgb(255, 0, 0);
}

h1+p{
    background-color: burlywood;
}
h1~p{
    background-color: chartreuse;
}